@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 126 35% 99%;
        --foreground: 126 50% 3%;
        --muted: 126 13% 91%;
        --muted-foreground: 126 10% 36%;
        --popover: 126 35% 99%;
        --popover-foreground: 126 50% 3%;
        --card: 126 35% 99%;
        --card-foreground: 126 50% 3%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --primary: 126 69% 63%;
        --primary-foreground: 126 69% 3%;
        --secondary: 126 11% 92%;
        --secondary-foreground: 126 11% 32%;
        --accent: 126 11% 92%;
        --accent-foreground: 126 11% 32%;
        --destructive: 22 85% 40%;
        --destructive-foreground: 0 0% 100%;
        --ring: 126 69% 63%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 126 58% 1%;
        --foreground: 126 12% 98%;
        --muted: 126 13% 9%;
        --muted-foreground: 126 10% 64%;
        --popover: 126 58% 1%;
        --popover-foreground: 126 12% 98%;
        --card: 126 58% 1%;
        --card-foreground: 126 12% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --primary: 126 69% 63%;
        --primary-foreground: 126 69% 3%;
        --secondary: 126 5% 15%;
        --secondary-foreground: 126 5% 75%;
        --accent: 126 5% 15%;
        --accent-foreground: 126 5% 75%;
        --destructive: 22 85% 53%;
        --destructive-foreground: 0 0% 0%;
        --ring: 126 69% 63%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
