@tailwind base;
@tailwind components;
@tailwind utilities;

/* Removing the arrow buttons from the input with type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

@layer base {
  :root {
    --background: 156 60% 98%;
    --foreground: 156 55% 0%;
    --muted: 156 36% 94%;
    --muted-foreground: 156 0% 27%;
    --popover: 156 60% 98%;
    --popover-foreground: 156 55% 0%;
    --card: 156 60% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 156 99% 75%;
    --primary-foreground: 156 99% 15%;
    --secondary: 156 5% 86%;
    --secondary-foreground: 156 5% 26%;
    --accent: 156 13% 79%;
    --accent-foreground: 156 13% 19%;
    --destructive: 13 95% 35%;
    --destructive-foreground: 0 0% 100%;
    --ring: 156 99% 75%;
    --radius: 0.7rem;
  }

  .dark {
    --background: 156 34% 3%;
    --foreground: 156 36% 99%;
    --muted: 156 36% 6%;
    --muted-foreground: 156 0% 73%;
    --popover: 156 34% 3%;
    --popover-foreground: 156 36% 99%;
    --card: 156 34% 4%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 156 99% 75%;
    --primary-foreground: 156 99% 15%;
    --secondary: 156 12% 13%;
    --secondary-foreground: 156 12% 73%;
    --accent: 156 21% 18%;
    --accent-foreground: 156 21% 78%;
    --destructive: 13 95% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 156 99% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
